<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Learning Hibernate Tests">

    <method-selectors>
        <method-selector>
            <selector-class name="info.unbelievable9.shared.util.DatabaseTestMethodSelector"/>
        </method-selector>
    </method-selectors>

    <parameter name="database" value="MYSQL"/>
    <parameter name="keepSchema" value="true"/>

    <test name="Hello World" enabled="false">
        <packages>
            <package name="info.unbelievable9.examples.helloword"/>
        </packages>
    </test>

    <test name="Simple">
        <packages>
            <package name="info.unbelievable9.examples.simple"/>
        </packages>
    </test>

</suite>